@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif; }

.video-fg {
  background: url(../images/overlay.png) repeat;
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute; }

.video {
  position: absolute;
  height: 100%;
  width: 100%; }

.header {
  z-index: 8;
  position: relative;
  background: rgba(255, 255, 255, 0);
  margin-bottom: -106px; }
  .header .top-bar.not-front {
    background: #666666; }
  .header .top-bar.scrolled {
    background: rgba(102, 102, 102, 0.76); }
  .header .top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(102, 102, 102, 0.36);
    transition: .5s all; }
    .header .top-bar .logo-wrap {
      background-color: rgba(255, 255, 255, 0);
      height: 90px; }
      .header .top-bar .logo-wrap a {
        padding: 0; }
      .header .top-bar .logo-wrap img {
        height: 90px;
        margin-bottom: -47px;
        float: left;
        display: block; }
    .header .top-bar .menu-item {
      padding-top: 22px; }
      .header .top-bar .menu-item a {
        color: #fff;
        border-bottom: 1px dotted rgba(255, 255, 255, 0);
        font-size: 1.1rem;
        cursor: pointer;
        transition: .5s all;
        font-family: "Roboto", sans-serif; }
        .header .top-bar .menu-item a:hover {
          border-bottom: 1px dotted rgba(255, 255, 255, 0.85); }
    .header .top-bar .menu-item.active a {
      background: none;
      border-bottom: 1px dotted #fff; }
    .header .top-bar .menu-item:last-of-type a {
      border: 1px solid #fff;
      border-radius: 7px;
      text-transform: uppercase;
      transition: .5s all;
      background: #fff;
      color: #666; }
      .header .top-bar .menu-item:last-of-type a:hover {
        border-radius: .7rem;
        border: 1px solid #fff;
        color: #fff;
        background: rgba(255, 255, 255, 0.38); }
    .header .top-bar .fb-menu-item {
      padding-right: 20px; }
    .header .top-bar ul {
      background-color: rgba(255, 255, 255, 0); }
      .header .top-bar ul a {
        color: #fff; }

#content {
  position: relative;
  z-index: 2;
  height: 630px; }
  #content #inner-content {
    z-index: 3;
    position: relative; }
    #content #inner-content .thanks {
      color: #fff;
      display: block;
      font-size: 24px;
      width: 40px;
      height: 40px;
      text-align: center;
      border: 2px solid #fff;
      border-radius: 50%;
      font-weight: bold;
      cursor: pointer;
      position: absolute;
      right: 10px;
      bottom: -58px;
      transition: .2s all; }
      #content #inner-content .thanks:hover {
        border: 4px solid #fff; }

.thanks-wrap {
  display: none;
  background: rgba(0, 0, 0, 0.57);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 998; }

.thank-you-text {
  display: none;
  position: absolute;
  top: 200px;
  background: #fff;
  z-index: 999;
  width: 600px;
  padding: 25px;
  border: 10px solid #666;
  border-radius: 9px;
  left: 0;
  right: 0;
  margin: auto; }

#content-wrap {
  padding-top: 220px; }
  #content-wrap h2 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px dotted #666;
    font-size: 3rem;
    margin-bottom: 30px; }

.headline-area {
  margin-top: 190px; }
  .headline-area .headline {
    font-family: "Oswald", sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: center; }
  .headline-area .headline-text {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center; }
  .headline-area .help-headline {
    font-family: "Oswald", sans-serif;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
  .headline-area hr {
    width: 50%;
    padding-top: 10px; }
  .headline-area .buttons {
    display: table;
    margin: 0 auto;
    width: auto; }
    .headline-area .buttons .button {
      display: inline-block;
      margin: 5px; }
    .headline-area .buttons .donate {
      font-size: 1.3rem;
      color: #fff;
      border: 1px solid #fff;
      background: rgba(222, 222, 222, 0.2);
      border-radius: .4rem;
      text-transform: uppercase;
      transition: .5s all; }
      .headline-area .buttons .donate:hover {
        border-radius: .7rem;
        border: 1px solid #fff;
        color: #666;
        background: white; }
    .headline-area .buttons .learn-more {
      font-size: 1.3rem;
      color: #fff;
      background: rgba(222, 222, 222, 0.2);
      border: 1px solid #fff;
      border-radius: .4rem;
      text-transform: uppercase;
      transition: .5s all; }
      .headline-area .buttons .learn-more:hover {
        border-radius: .7rem;
        border: 1px solid #fff;
        color: #666;
        background: white; }

#lower-content {
  position: relative;
  z-index: 3;
  background: #fff;
  padding-top: 30px; }
  #lower-content h3 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0; }
    #lower-content h3 a {
      display: block;
      border-bottom: 1px dotted #666;
      color: #666; }
  #lower-content a img {
    padding-bottom: 15px; }

.footer {
  background: #666;
  color: #fff;
  padding-top: 15px;
  margin-top: 30px; }
